#aboutus{
	padding: 70px 0;
	.pone{font-size: 17px; padding: 0 0 0 2px}
	h1{padding: 0 0 20px 0;

	}
	.ptwo{ font-size: 18px;padding: 5px 0;

	}
	.pthree{
font-size: 16px;padding: 5px 0;

	}
.about-img{height: 170px;padding-bottom: 30px;
		img{
			height: 100% !important; width: 100% !important; border-radius: 5px;
		}
	}

}