#good{
	padding: 70px 0 50px 0;
	h1{text-align: center; padding:0 0 10px 0; font-size: 50px;
		}
		p {
			text-align: center;
			font-size: 19px;
			padding-bottom: 40px;
		}
	.good-main{border-right: 1px solid #dddfff;

			 height: 200px;
		h1{	padding-top: 25px;
			text-align: center;
			font-size: 50px;
		}
		p{
			text-align: center;
			font-size: 13px;
		}

	}
	.good-main:last-child{border-right: none;}
}